.banner_header {
    padding: 50px 0;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    background-size: cover;
    background-image: url('../src/assets/colormehue.png');;
    background-position: 50% 50%;
    color: black;
    display: block;
    font-size: 15px;
  }
  
  .fancytext_header {
    text-align: center;
    font-size: 48px;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  .fancytext_header:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .fancytext_header.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  
  .body_header {
    position: flex;
    margin-top: 250px;
    padding: 50px;
    color: black;
    width: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  .button-container_header {
    display: flex; 
    align-items: center;
  }
  
  .custom-buttons_header {
    background-color: #67adeb;
    color: #fff;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin-right: 10px;
  }
  
  .pipe_header {
    color: #333;
    font-size: 36px;
    margin: 0 10px;
  }
  
  .box_header {
    background-color: #b0a6a6;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 300px; 
    margin: 0 auto;
  }
  
  .logo_header {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo_header:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo_header.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }